JWT_ACCESS_KEY=your_jwt_access_key_here
JWT_REFRESH_KEY=your_jwt_refresh_key_here
DATABASE_URI=postgresql+psycopg2://jukeboxed:jukeboxed@localhost:5431/jukeboxed
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
DISCOGS_TOKEN=your_discogs_token
FANART_API_KEY=your_fanart_api_key
MB_USER_AGENT=YourAppName/1.0 (your@email.com)
